@charset "UTF-8"; 
$version: 1;
/* Fonts */
@import "font-awesome.min";
@import "fonts";
/* END Fonts */

// Core variables and mixins
@import "variables";
@import "mixins";

// Reset
@import "normalize";
@import "print";

// Core CSS
@import "scaffolding";
@import "type";

// Utility classes
@import "utilities";

// Compass
@import "compass/css3";

$experimental-support-for-svg: true;
$sprites: sprite-map("sprites/*.png",$spacing: 5);

@mixin sprite-bg($image){
  background: sprite($sprites,$image) no-repeat;
  width: image-width(sprite-file($sprites,$image));
  height: image-height(sprite-file($sprites,$image));
}

/* Custom styles */
@import "forms_style";

html, body{
  height: 100%;
}
body{
  /*background: url("../img/bg.jpg") no-repeat 50% 0 #f6f6f6;*/
  background: #f2f2f2;
}
.wrap-site{
  min-height: 100%;
  overflow: hidden;
  position: relative;
  min-width: 1000px;
  padding-top: 50px;
  padding-bottom: 58px;
}
.container{
  width: 1000px;
  margin: 0 auto;
  @include clearfix;
}
.left-col{
  float: left;
  width: 220px;
  padding-right: 20px;
}
.logo{ 
  display: block;
  width: 160px;
  margin-bottom: 32px;
  img{
	width: 100%;
  }
}
.skype-icon{
  display: inline-block;
  vertical-align: middle;
  @include sprite-bg(skype_icon);
}
.skype{
  font-size: 12px;
  color: inherit !important;
  text-decoration: none;
  &:hover, &:focus{
	text-decoration: underline;
  }
  .skype-icon{
	margin: -2px 4px 0 0;
  }
}
.tel{
  font-size: 15px;
  @extend strong;
  margin: 16px 0 20px;
}
.nav-h{
  font-size: 12px;
  list-style: none;
  padding: 0;
  margin: 0 0 20px;
  li{
	+li{
	  margin-top: 12px;
	}
  }
}
.header{
  .nav-h{
	li{
	  a{
		color: inherit;
	  }
	}
  }
}
.search-site{
  position: relative;
  width: 170px;
  margin-bottom: 26px;
  input[type='text']{
	border: 0;
	padding: 0 32px 0 16px;
	background: #ffffff;
	position: relative;
	border-radius: 14px;
	height: 28px;
	font-size: 12px;
	@extend strong;
	width: 100%;
	&:-moz-placeholder            { color: rgba(#252525, 0.2);} // Firefox 4-18
	&::-moz-placeholder           { color: rgba(#252525, 0.2);} // Firefox 19+
	&:-ms-input-placeholder       { color: rgba(#252525, 0.2);} // Internet Explorer 10+
	&::-webkit-input-placeholder  { color: rgba(#252525, 0.2);} // Safari and Chrome
	&.placeholder{
	  color: rgba(#252525, 0.2);
	}
	&:focus{
	  &:-moz-placeholder            {color: transparent; @include transition(0.1s)} // Firefox 4-18
	  &::-moz-placeholder           {color: transparent; @include transition(0.1s)} // Firefox 19+
	  &:-ms-input-placeholder       {color: transparent; @include transition(0.1s)} // Internet Explorer 10+
	  &::-webkit-input-placeholder  {color: transparent; @include transition(0.1s)} // Safari and Chrome
	}
  }
  button{
	border: 0;
	padding: 0;
	position: absolute;
	@include sprite-bg(search_icon);
	top: 5px;
	right: 10px;
	cursor: pointer;
  }
}
.ie8{
  .search-site{
	input[type='text']{
	  line-height: 28px;
	}
  }
}
.consultation{
  line-height: 22px;
  font-size: 12px;
  color: #020103;
  img{
	margin-bottom: 12px;
  }
  .title{
	font-size: 15px;
	line-height: 22px;
	color: #2e3192;
	@extend strong;
	margin: 0;
	a{
	  color: inherit;
	  //text-decoration: none;
	  //border-bottom: 1px solid #bfc0d8;
	  &:hover, &:focus{
		//border-color: transparent;
	  }
	}
  }
  p{
	.call{
	  display: block;
	  line-height: 1.25;
	}
  }
}
.center-col{
  width: 525px;
  float: left;
}
.calculator{
  position: relative;
  width: 525px;
  padding: 40px 18px 40px 50px;
  background: #ffffff;
  @include box-shadow(0 0 73px rgba(#000000, 0.13));
  color: #140709;
  font-size: 15px;
  header{
	padding: 40px 18px 10px 50px;
	margin: -40px -18px 24px -50px;
	color: #ffffff;
	font-size: 12px;
	height: 183px;
	background: url("../img/head_bg.jpg") no-repeat;
	.title{
	  font-size: 33px;
	  @extend strong;
	  color: inherit;
	  text-shadow: 0 0 27px #50a2f0;
	  margin: 16px 0 14px;
	}
	.filter{
	  font-size: 18px;
	  label{
		line-height: 35px;
	  }
	  .style-select2{
		width: 280px;
		float: right;
	  }
	}
  }
  .adv-search{
	color: #50a2f0;
	float: right;
	font-size: 14px;
	display: inline-block;
	@include border-radius(12px);
	border: 2px solid #50a2f0;
	line-height: 14px;
	padding: 7px 10px;
	text-decoration: none;
	margin-right: 27px;
	&:hover {
		text-decoration: none;
		border: 2px solid #3082c0;
		color: #3082c0;
	}
  }
}

.calculator-left{
  position: relative;
  padding: 40px 5px 40px 25px;
  margin-bottom:30px;
  background: #ffffff;
  @include box-shadow(0 0 73px rgba(#000000, 0.13));
  color: #140709;
  font-size: 15px;
  &.ipcalc {
	  padding: 24px 5px 40px 25px;
  }
  .row-form{
    display: block;
    /*width: 100%;*/
    &+.row-form{
	  margin-top: 12px;
    }
    &+.margin-big{
	  margin-top: 27px;
    }
    .cell-form{
	  display: block;
	  vertical-align: middle;
	  margin-bottom:5px;
	  &:first-child{
	    width: 125px;
	    padding-right: 0;
	  }
	  &.ipcalc {
		  &:first-child {
			  width: 170px;
		  }
	  }
    }
    .style-select{
	  width: 165px !important;
    }
    .style-input, .style-select, .group-radio{
	  vertical-align: middle;
	  margin: 5px auto;
	  &.has-error {
		  border: 1px solid #FFA1A1;
	  }
    }
    .lbl-ctrl{
	display: block;
	font-size: smaller;
	margin-bottom:5px;
	  &+.lbl-ctrl{
	    margin-left: 0;
	  }
	 /* .ltxt{
	    margin-top:0px;
	}*/
    }
    .fake-checkbox{
	margin-bottom:10px;
	display: inline-block;
    }
    .ltxt{
	display:inline-block;
	width:115px;
	min-height:20px;
	margin-left:5px;
	vertical-align:middle;
    }
  }
  .adv-search{
	color: inherit;
  }
}

.style-select2{
  display: inline-block;
  vertical-align: middle;
  border-radius: 17px;
  overflow: hidden;
}
.style-select2-link{
  position: relative;
  cursor: pointer;
  background: #50a2f0;
  height: 35px;
  line-height: 33px;
  padding: 0 35px 0 18px;
  font-size: 25px;
  @extend strong;
  color: #ffffff;
  border-radius: 17px;
  &.ik_select_link_focus{
	@include transition(0.1s);
	background: #4b96df;
  }
  .ik_select_link_text{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
  }
  &:before{
	content: '\f107';
	font-size: 20px;
	font-family: 'FontAwesome';
	font-weight: 400;
	position: absolute;
	top: 0;
	right: 15px;
	line-height: 35px;
  }
}
.style-select2-dd{
  ul{
	font-size: 16px;
	list-style: none;
	padding: 0;
	margin: 0;
	background: #ffffff;
	border: 1px solid #50a2f0;
	border-top: 0;
	@include box-shadow(1px 1px 3px rgba(black, 0.3));
	li{
	  padding: 5px 35px 5px 18px;
	  overflow: hidden;
	  white-space: nowrap;
	  text-overflow: ellipsis;
	  cursor: default;
	  &.ik_select_hover{
		background: #50a2f0;
		color: #ffffff;
	  }
	}
  }
}
.row-form{
  display: table;
  width: 100%;
  &+.row-form{
	margin-top: 12px;
  }
  &+.margin-big{
	margin-top: 27px;
  }
  .cell-form{
	display: table-cell;
	vertical-align: middle;
	&:first-child{
	  width: 125px;
	  padding-right: 15px;
	}
	&.short-ipotek {
		  &:first-child {
			  width: 136px;
		  }
	  }
  }
  .style-select{
	width: 196px !important;
  }
  .style-input, .style-select, .group-radio{
	vertical-align: middle;
	&.has-error {
		border: 1px solid #FFA1A1;
	}
  }
  .has-error-txt{
    margin:6px 20px;
    color:red;
    display:inline-block;
  }
  .lbl-ctrl{
	&+.lbl-ctrl{
	  margin-left: 21px;
	}
  }
}
.fld-type1{
  width: 124px;
  &+.fld-type1{
	margin-left: 1px;
  }
}
.fld-type2{
  width: 90px;
  &+.fld-type2, &+.group-radio{
	margin-left: 1px;
  }
}
.group-radio{
  display: inline-block;
  label{
	float: left;
	.fake-radio{
	  padding-right: 36px;
	}
	&+label{
	  margin-left: -26px;
	  .fake-radio{
		padding-right: 10px;
		padding-left: 36px;
	  }
	}
  }
}
.style-radio{
  position: fixed;
  top: 0;
  right: 200%;
  &~.fake-radio{
	display: inline-block;
	vertical-align: top;
	position: relative;
	background: #ffffff;
	border: 1px solid #e1e1e1;
	border-radius: 19px;
	line-height: 36px;
	padding: 0 10px;
	height: 38px;
	cursor: pointer;
  }
  &:checked{
	&~.fake-radio{
	  border-color: transparent;
	  background: #50a2f0;
	  color: #ffffff;
	  z-index: 10;
	  padding: 0 10px;
	  cursor: default;
	}
  }
}
.style-checkbox{
  position: fixed;
  top: 0;
  right: 200%;
  &~.fake-checkbox{
	display: inline-block;
	vertical-align: middle;
	position: relative;
	background: #ffffff;
	border: 1px solid #e1e1e1;
	border-radius: 50%;
	line-height: 36px;
	font-size: 0;
	padding: 0 10px;
	height: 38px;
	width: 38px;
	text-align: center;
	cursor: pointer;
	margin-right: 5px;
  }
  &:checked{
	&~.fake-checkbox{
	  &:before{
		content: '';
		display: inline-block;
		vertical-align: middle;
		@include sprite-bg(check);
	  }
	}
  }
}
.right-col{
  width: 202px;
  float: right;
}
.sect1{
  .title{
	margin: 0 0 28px;
	font-weight: 400;
	font-family: $font-family-base;
  }
}
.tabs{
  .tab-ctrl{
	position: fixed;
	top: 0;
	right: 200%;
	&:checked{
	  &:nth-child(1){
		&~.tabs-lbl label:nth-child(1){
		  background: #ffffff;
		  cursor: default;
		  span{
			text-decoration: none;
		  }
		}
		&~.tabs-cont .tab-item:nth-child(1){
		  display: block;
		}
	  }
	  &:nth-child(2){
		&~.tabs-lbl label:nth-child(2){
		  background: #ffffff;
		  cursor: default;
		  span{
			text-decoration: none;
		  }
		}
		&~.tabs-cont .tab-item:nth-child(2){
		  display: block;
		}
	  }
	}
  }
  .tabs-lbl{
	font-size: 14px;
	color: #636363;
	margin-bottom: 28px;
	label{
	  cursor: pointer;
	  line-height: 15px;
	  padding: 4px 12px;
	  position: relative;
	  border-radius: 11px;
	  span{
		text-decoration: underline;
	  }
	}
  }
  .tabs-cont{
	.tab-item{
	  display: none;
	}
  }
}
.style-list1{
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
  counter-reset: list1;
  margin-bottom: 25px;
  li{
	display: table;
	width: 100%;
	&+li{
	  margin-top: 22px;
	}
	.cell{
	  display: table-cell;
	  vertical-align: top;
	  word-wrap: break-word;
	  &:first-child{
		width: 115px;
		max-width: 115px;
		padding-right: 10px;
	  }
	  &:last-child{
		@extend strong;
	  }
	}
	&:before{
	  display: table-cell;
	  vertical-align: top;
	  counter-increment: list1;
	  content: counter(list1);
	  padding-right: 4px;
	}
  }
}
.txt-info{
  font-size: 12px;
  color: #636363;
  padding: 8px 0 0;
  margin: 8px 0 30px;
  border-top: 1px solid #e0e0e0;
}
.decor-sep{
  background: url("../img/decor_sep.png") no-repeat 50% 0;
  margin-top: 35px;
  margin-bottom: 30px;
  height: 9px;
}
.section-site{
  padding-left: 82px;
  position: relative;
  min-height: 110px;
  font-size: 13px;
  float: left;
  width: 310px;
  margin: 0 0 47px (1000px - 310px*3)/2;
  &:first-child{
	margin-left: 0;
  }
  .title{
	font-size: 14px;
	@extend strong;
	margin: 0 0 12px;
	&:before{
	  content: '';
	  position: absolute;
	  top: 32px;
	  left: 0;
	  width: 69px;
	  height: 69px;
	}
  }
  &.sect1-s{
	.title{
	  &:before{
		background: url("../img/sect_icon1.png") no-repeat;
	  }
	}
  }
  &.sect2-s{
	.title{
	  &:before{
		background: url("../img/sect_icon2.png") no-repeat;
	  }
	}
  }
  &.sect3-s{
	.title{
	  &:before{
		background: url("../img/sect_icon3.png") no-repeat;
	  }
	}
  }
  ul{
	list-style: none;
	padding: 0;
	margin: 0;
	li{
	  &+li{
		margin-top: 12px;
	  }
	  .other{
		display: inline-block;
		line-height: 1;
		color: inherit;
		font-size: 12px;
		text-decoration: none;
		border-bottom: 1px dotted;
	  }
	}
  }
}
.txt-info2{
  font-size: 12px;
  line-height: 1.25;
  color: #636363;
  padding: 22px 0;
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  margin-top: 20px;
}
.txt-info-fake{
  border-bottom: 1px solid #dcdcdc;
  margin-top: 20px;
}
.footer{
  height: 58px;
  font-size: 12px;
  padding-top: 12px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  line-height: 23px;
  p{
	margin: 0;
  }
  .copyright{
	float: left;
  }
  .addr{
	float: left;
	margin: 0 0 0 28px;
	line-height: inherit;
	font-size: 13px;
  }
  .developer{
	float: right;
  }
  .soc-ico {
	  float:right;
	  margin-right: 33px;
  }
  a{
	color: inherit;
  }
}
.sections-site{
  .section-site{
	padding-left: 0;
	min-height: 0;
	font-size: 13px;
	float: none;
	width: auto;
	margin: 0 0 47px 0;
	&.sm-sz {
		font-size: 11px;
	}
	.title{
	  font-size: 14px;
	  @extend strong;
	  margin: 0 0 16px;
	  padding-top: 10px;
	  &:before{
		position: static;
		width: 34px;
		height: 34px;
		display: inline-block;
		vertical-align: middle;
		margin: -10px 10px -10px 0;
	  }
	}
	&.sect1-s{
	  .title{
		&:before{
		  background: url("../img/sect_icon1_2.png") no-repeat;
		}
	  }
	}
	&.sect2-s{
	  .title{
		&:before{
		  background: url("../img/sect_icon2_2.png") no-repeat;
		}
	  }
	}
	&.sect3-s{
	  .title{
		&:before{
		  background: url("../img/sect_icon3_2.png") no-repeat;
		}
	  }
	}
	ul{
	  list-style: none;
	  padding: 0;
	  margin: 0;
	  li{
		&+li{
		  margin-top: 12px;
		}
		.other{
		  display: inline-block;
		  line-height: 1;
		  color: inherit;
		  font-size: 12px;
		  text-decoration: none;
		  border-bottom: 1px dotted;
		}
	  }
	}
  }
}
.center-col2{
  float: right;
  width: 777px;
  padding: 18px 35px;
  @include box-shadow(inset 0 -200px 300px -100px rgba(black, .08), 0 0 73px rgba(black, .13));
  position: relative;
  background: #fbfbfb;
  padding-bottom: 44px;
  .header-col{
	padding: 18px 35px;
	margin: -18px -35px 18px -35px;
	height: 130px;
	background: url("head_bg2.jpg") no-repeat;
	padding-top: 68px;
	&.map-page {
		background: url("bgmp.png") no-repeat;
	}
	&.baseconsumercredit {
		padding-top: 29px;
	}
	.title{
	  margin: 0 55px;
	  color: #ffffff;
	  font-size: 36px;
	  @extend strong;
	  text-shadow: 0 0 11px rgba(#247fd6, .75);
	}
  }
  .header-col2{
	padding-top: 22px;
  }
  .header-col3{
	height: 105px;
	padding-top: 35px;
	background-size: 140% auto;
	background-position: 60% 25%;
	.title{
	  margin: 0 20px;
	}
  }
}
.breadcrumbs{
  list-style: none;
  margin: 10px 0 10px;
  padding: 0;
  font-size: 14px;
  line-height: 1.25;
  text-align: center;
  li{
	display: inline;
	&:before{
	  content: '/ ';
	}
	&:first-child{
	  &:before{
		display: none;
	  }
	}
	a{
	  color: inherit;
	  text-decoration: none;
	  &:hover, &:focus{
		text-decoration: underline;
	  }
	}
  }
  &+h1, &+.h1{
	margin-top: 0;
  }
}
.sub-title{
  display: block;
/*  font-size: 16px;*/
	font-size: 30px;
  font-weight: 400;
  font-family: $font-family-base;
  color: inherit;
}
.card{
  @include clearfix;
  .card-col1{
	float: left;
	width: 255px;
  }
  .card-col2{
	float: right;
	width: 430px;
  }
}
.block-type1{
  position: relative;
  background: #f6f6f6;
  border-radius: 17px;
  padding: 15px;
  margin: 0 0 25px -15px;
}
.block-type2{
  padding: 15px;
  margin: 0 -15px 30px 0;
}
.block-type3{
  padding: 0 15px;
}
.title-type1{
  color: #002d78;
  font-size: 14px;
  @extend strong;
  margin: 0 0 14px;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 1px;
}
.proxima-nova-light{
  font-family: 'proxima_nova_ltlight', Arial, sans-serif;
  font-weight: 300;
}
.style-table1{
  width: 100%;
  td{
	vertical-align: top;
	padding: 0;
	&:first-child{
	  padding-right: 10px;
	  /*width: 63%;*/ 
	}
	&:last-child{
	  text-align: right;
	}
  }
}
.on-calc{
  font-size: 12px;
  line-height: 22px;
  color: #020103;
  margin-bottom: 30px;
  .title{
	color: #002d78;
	font-size: 15px;
	@extend strong;
	margin: 0;
	line-height: inherit;
  }
  p{
	margin-bottom: 6px;
  }
}
.neg-marg{
  margin: 0 -15px;
}
.style-table2{
  border-collapse: separate;
  border-spacing: 0 8px;
  width: 100%;
  margin-top: -8px;
  tr{
	td{
	  padding: 9px 15px;
	  vertical-align: top;
	  &:first-child{
		border-radius: 17px 0 0 17px;
	  }
	  &:last-child{
		border-radius: 0 17px 17px 0;
		text-align: right;
	  }
	}
	&:nth-child(even){
	  background: #eeeeee;
	}
  }
}
.style-table3{
  border-collapse: separate;
  width: 100%;
  position: relative;
  margin-bottom: 30px;
  th, td{
	padding: 9px 15px;
	vertical-align: top;
  }
  thead{
	@extend strong;
	th{
	  text-align: left;
	  padding-top: 8px;
	  padding-bottom: 8px;
	}
	tr{
	  &.sprt{
		th{
		  &:before{
			content: '';
			display: block;
			width: 100%;
			border-bottom: 1px solid #e1e1e1;
		  }
		}
	  }
	}
  }
  tbody{
	tr{
	  td{
		width: 5%;
		&:first-child{
		  border-radius: 17px 0 0 17px;
		  width: 10%;
		}
		&:nth-child(2){
		  width: 10%;
		}
		&:last-child{
		  border-radius: 0 17px 17px 0;
		}
	  }
	  &:nth-child(even){
		background: #eeeeee;
	  }
	}
  }
}
.filters{
  margin: -18px -35px 18px -35px;
  padding: 11px 35px 11px 65px;
  background: #252525;
  color: #fff9f9;
  font-size: 13px;
  /*display: inline-block;*/
  .style-select{
	vertical-align: middle;
	/*width: 230px !important;*/
  }
  form{
    margin-right: 45px;
    padding-left:20px;
    color: #fff9f9;
    font-size: 13px;
    display: table-cell;
  }
  .style-select-link{
	border: 1px solid #929292;
	background: transparent;
	height: 33px;
	line-height: 32px;
	padding: 0 36px 0 15px;
	font-size: 13px;
	border-radius: 16px;
	&.ik_select_link_focus{
	  @include transition(0.1s);
	  border-color: rgba(#50a2f0, 0.5);
	}
	&:before{
	  content: '\f107';
	  font-size: 20px;
	  font-family: 'FontAwesome';
	  font-weight: 400;
	  position: absolute;
	  top: 0;
	  right: 12px;
	  color: #929292;
	}
  }
}
.center-block{
  width: 622px;
  margin: 0 auto;
}
.options{
  color: #140709;
  @extend .proxima-nova-light;
  font-size: 13px;
  @include clearfix;
  margin-bottom: 18px;
}
.write-item{
  position: relative;
  border-radius: 20px;
  border: 1px solid #e1e1e1;
  padding: 18px 20px;
  @include clearfix;
  font-size: 15px;
  margin-bottom: 16px;
  .title-w-i{
	margin: 0;
	font-size: 15px;
	display: inline;
  }
  .show-form{
	@extend .proxima-nova-light;
	font-size: 13px;
	color: #252525;
	text-decoration: none;
	border-bottom: 1px dotted;
	display: inline-block;
	line-height: 0.9;
	&:hover, &:focus{
	  border-color: transparent;
	}
  }
  .left{
	float: left;
	clear: left;
	padding-right: 10px;
	max-width: 55%;
  }
  .info-txt{
	@extend .proxima-nova-light;
	text-align: right;
	strong{
	  color: #002d78;
	}
  }
  .name-result{
	line-height: 1.25;
	font-size: 15px;
	overflow: hidden;
	min-height: 15px*1.25*2;
	margin-bottom: 2px;
	max-width: 46%;
  }
  .type-result{
	color: #6d0101;
	font-size: 12px;
	strong{
	  &+strong{
		margin-left: 21px;
	  }
	}
  }
  &.b-write-item {
	  .type-result{
		  color: #140709;
		  font-size: 13px;
	  }
  }
}
.b-write-item-more {
	margin-bottom: -10px;
	text-align: center;
	a {
		display: inline-block;
		padding: 10px;
		color: #50a2f0;
		text-decoration: underline;
		font-size: 13px;
		position: relative;
		font-weight: bold;
		&:after {
			content: "";
			position: absolute;
			display: block;
			left: -6px;
			top: 50%;
			margin-top: -6px;
			width: 13px;
			height: 13px;
			background: url(1.png) 0 0 no-repeat;
		}
		&:hover {
			text-decoration: none;
			color: #50a2f0;
		}
	}
}
.b-write-item-wrap {
	margin: 0 -20px 0 -10px;
    padding: 0 20px 0 10px;
    transition: all 0.2s;
	.b-write-item-h {
		margin: 0;
		max-height: 0;
		overflow: hidden;
		padding: 0;
		opacity: 0;
		transition: left 0.3s, border 0.1s, margin 0.2s, max-height 0.2s, padding 0.2s, opacity 0.2s;
		// display: none;
	}
	.b-write-item {
		margin-bottom: 15px;
	}
	&.b-active {
		background: #dae8f6;
		padding: 15px 20px 15px 10px;
		margin-bottom: 15px;
		.b-write-item {
			margin-bottom: 20px;
		}
		.b-write-item-h {
			// display: block;
			overflow: visible;
			max-height: 300px;
			padding: 18px;
			padding-left: 30px;
			opacity: 1;
			margin-bottom: 15px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
    
q{
  quotes: "\00ab" "\00bb"; /* Кавычки в виде двойных угловых скобок */
}
.larr{
  display: inline-block;
  width: 8px;
  height: 6px;
  background: inline-image('larr.png') no-repeat;
  margin-right: 4px;
}
.rarr{
  display: inline-block;
  width: 8px;
  height: 6px;
  background: inline-image('rarr.png') no-repeat;
  margin-left: 4px;
}
.pagination{
  font-size: 15px;
  @extend .proxima-nova-light;
  margin: 25px 0;
  .disabled{
	color: inherit;
	text-decoration: none;
	cursor: not-allowed;
  }
  ul{
	list-style: none;
	padding: 0;
	margin: 10px 0;
	li{
	  display: inline-block;
	  line-height: 1;
	  margin: 0 4px;
	  a{
		display: inline-block;
	  }
	  &.curr-page{
		margin: -3px 0;
		a{
		  padding: 3px 4px;
		  background: #50a2f0;
		  border-radius: 10px;
		  min-width: 21px;
		  text-align: center;
		  text-decoration: none;
		  color: #ffffff;
		  position: relative;
		  cursor: default;
		}
	  }
	}
  }
}
.modal-win{
  position: relative;
  border-radius: 20px;
  background: rgba(#cccccc, 0.9);
  -pie-background: rgba(#cccccc, 0.9);
  padding: 18px 30px;
  color: #140709;
  .close-btn{
	position: absolute;
	top: 8px;
	right: 12px;
	width: 36px;
	height: 36px;
	background: url("../img/close_btn.png") no-repeat;
	cursor: pointer;
  }
  .header-m{
	@include clearfix;
	padding: 4px 30px 15px 0;
	border-bottom: 1px solid #ffffff;
	font-size: 15px;
	line-height: 22px;
	margin-bottom: 15px;
	.tels{
	  float: left;
	}
	.addr{
	  float: left;
	  margin-left: 34px;
	}
	.skype{
	  font-size: 15px;
	}
  }
  .title-m{
	font-size: 18px;
	text-align: center;
	margin-bottom: 23px;
	small{
	  font-size: 10px;
	  display: block;
	}
  }
}
.contact-page {
	.feedback-form{
/*		left: 790px !important;*/
		&.no-modal{
			background: rgba(#c8c8c8, 1.0);
			-pie-background: rgba(#c8c8c8, 1.0);
			&:before{
				display: none;
			}
		}
	}	
}
.feedback-form{
  width: 616px;
  &.no-modal{
	background: rgba(#ebebeb, 1.0);
	-pie-background: rgba(#ebebeb, 1.0);
	z-index: 9999;
	&:before{
	  content: '';
	  border-width: 0 10px 10px;
	  border-style: solid;
	  border-color: transparent transparent rgba(#ebebeb, 1.0);
	  position: absolute;
	  top: -10px;
	  left: 30px;
	}
  }
  .col1{
	float: left;
	width: 272px;
  }
  .col2{
	float: right;
	width: 268px;
  }
}
.lbl{
  line-height: 1.1;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}
.row-form2{
  line-height: 38px;
  @include clearfix;
  font-size: 13px;
  .lbl{
	line-height: 1.1;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	&.error {color: #E87285;}
  }
  .style-input, .style-textarea, .style-select{
	width: 150px !important;
	float: right;
	font-size: 15px;
	//color: #959595;
	border-color: transparent;
	line-height: $line-height-base;
	margin-left: 10px;
  }
  .lbl-ctrl{
	font-size: 11px;
	&+.lbl-ctrl{
	  margin-left: 12px;
	}
  }
  &+.row-form2{
	margin-top: 14px;
  }
}
.txt-fld1{
  line-height: 54px;
  textarea{
	height: 54px;
  }
}
.txt-fld2{
  textarea{
	height: 122px;
  }
}
.checks-row{
  margin: 30px 0 24px;
  .cell{
	width: 434px;
	float: right;
  }
}
.search-deposits{
  width: 544px;
  margin: 30px 0 0 55px;
  font-size: 15px;
  color: #140709;
  .row-form{
	.style-select{
	  width: 339px !important;
	}
	.full-fld{
	  width: 339px;
	}
	.cell-form{
	  &:first-child{
		width: 205px;
	  }
	}
	&.margin-big{
	  margin: 27px 0;
	}
  }
  .checks-row{
	margin: 35px 0;
	p{
	  margin: 0;
	  &+p{
		margin: 23px 0 0;
	  }
	}
  }
}
.filters2{
  padding-left: 20px;
  padding-right: 20px;
  @include clearfix;
  .col1{
	float: left;
  }
  .col2{
	float: left;
	margin-left: 15px;
  }
  .col3{
	float: left;
	margin-left: 92px;
  }
  .style-select{
	width: 150px !important;
	margin-top: 5px;
	&+.style-select{
	  margin-left: 2px;
	}
  }
}
.filter-banks{
  width: 270px;
  .style-select2{
	width: 100%;
	margin: 2px 55px;
  }
}
.lbl-c-f{
  display: inline-block;
  margin-top: 10px;
  margin-left: 3px;
  &+.lbl-c-f{

  }
  .ctrl-filter{
	position: fixed;
	top: 0;
	right: 200%;
	&.up{
	  &~.fake-ctrl-filter{
		display: inline-block;
		@include sprite-bg(arr_up);
		cursor: pointer;
	  }
	  &:checked{
		&~.fake-ctrl-filter{
		  @include sprite-bg(arr_up_active);
		  cursor: default;
		}
	  }
	}
	&.down{
	  &~.fake-ctrl-filter{
		display: inline-block;
		@include sprite-bg(arr_down);
		cursor: pointer;
	  }
	  &:checked{
		&~.fake-ctrl-filter{
		  @include sprite-bg(arr_down_active);
		  cursor: default;
		}
	  }
	}
  }
}
.rating{
  .neg-marg{
	margin: 0 -20px;
  }
}
.style-table4{
  width: 100%;
  td{
	padding: 8px 9px;
  }
  tr{
	td{
	  &:first-child{
		width: 62px;
		padding-left: 20px;
		sup{
		  font-size: 9px;
		}
	  }
	  &:last-child{
		padding-right: 20px;
	  }
	  .pink{
		background: #fae4e5;
		padding: 3px;
		white-space: nowrap;
	  }
	  .green{
		background: #d6e7de;
		padding: 3px;
		white-space: nowrap;
	  }
	}
	&:nth-child(even){
	  background: #eeeeee;
	  td{
		&:first-child{
		  border-radius: 25px 0 0 25px;
		}
		&:last-child{
		  border-radius: 0 25px 25px 0;
		}
	  }
	}
  }
}
.download{
  font-size: 12px;
  @extend .proxima-nova-light;
  color: inherit !important;
  &.pull-right{
	margin-top: 25px;
  }
}
.excel-icon{
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  @include sprite-bg(icon_excel);
}
.map-area{
  margin: -18px -35px;
  height: 880px;
}

.info_form {
	background: #fff;
}

.center-col2 {
	.header-col {
		&.header-hypothec {
			padding-top: 27px;
		}
		&.header-hypothec1 {
			padding-top: 8px;
		}
	}
}
.sub-label {
	color: #898989;
	&.sdescr {
		display: inline-block;zoom:1;*display:inline;
		width: 63px;
		font-size: 11px;
		margin-left: 4px;
		vertical-align: middle;
	}
}

.vnim {
	background: #EDF4FA;
	margin: 0 -35px -43px -35px;
	padding: 15px 35px;
}

.contact-bloc {
	padding-bottom: 36px;
	> span {
		display: inline-block;zoom:1;*display: inline;
		min-width: 180px;
		font-size: 18px;
		line-height: 24px;
	}
	.skype {
		font-size: 18px;
		line-height: 24px;
	}
}

.fb-soc {
	display: inline-block;zoom:1;*display:inline;
	@include sprite-bg(fico);
	margin-right: 5px;
}

.vk-soc {
	display: inline-block;zoom:1;*display:inline;
	@include sprite-bg(vico);
	margin-right: 5px;
}

.ok-soc {
	display: inline-block;zoom:1;*display:inline;
	@include sprite-bg(oico);
	margin-right: 5px;
}

.basedeposit {
	border: 1px solid #e1e1e1;
	@include border-radius(20px);
/*	overflow: hidden;*/
	.basedeposit-item {
		padding: 0 20px 0 10px;
		border-top: 1px solid #e1e1e1;
		color: #140709;
		font-size: 15px;
		line-height: 36px;
		&:first-child {
			border-top: 0px;
			background: #000;
			padding: 0 20px;
			@include border-radius(20px 20px 0 0);
			&.active, &:hover {
				background: #000;
			}
		}
		&.active, &:hover {
			background: #f6f6f6;
		}
		.basedeposit-item-title {
			@include inline-block;
			width: 100%;
			padding: 0 12px;
			cursor: pointer;
		}
		.basedeposit-item-search {
			width: 100%;
			padding: 10px 0;
			height: 29px;
			line-height: 29px;
			height: 49px;
			input {
				@include inline-block;
				@include border-radius(15px);
				width: 100%;
				font-size: 13px;
				margin: 0;
				border: 0;
				outline: 0;
				padding: 0 18px;
				line-height: 29px;
				height: 29px;
			}
		}
		.basedeposit-item-sub {
			display: none;
			line-height: normal;
			.write-item {
				background: #fff;
			}
		}
		&.active {
			.basedeposit-item-title {
				color: #636363;
			}
			.basedeposit-item-sub {
				// display: block;
			}
		}
	}
}

.autocr {
	.row-form {
		&.checks-row {
			.cell-form {
				width: 50%;
			}
		}
	}
}

.right-hr {
	float: right;
}

.mCS-dol-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ background-color: #4ca2ed; }
.mCS-dol-theme.mCSB_scrollTools .mCSB_draggerRail{ background-color: #eeeeee; } 


.scrbx .style-table3 thead th { min-width: 120px; }
.mCustomScrollbar { margin-bottom: 20px; }
.mCustomScrollbar .style-table3 { margin-bottom: 0; }

.feedback-form {
	width: 720px;
}
.feedback-form.no-modal:before {
	left: 126px;
}

.feedback-form .col2 {
	width: 360px;
	.row-form2 .style-input, .row-form2 .style-textarea, .row-form2 .style-select {
		width: 240px !important;
	}	
}

.feedback-form .checks-row .cell {
    width: auto;
    float: none;
    display: inline-block;
    margin-left: 27px;
}

.drpdwn-m {
	.drpdwn-i, .other2 {
		display: none !important;
	}
	.other1 {
		display: inline-block !important;
	}
	&.act {
		.drpdwn-i {
			display: list-item !important;
		}
		.other2 {
			display: inline-block !important;
		}
		.other1 {
			display: none !important;
		}
	}
}

.tbl-dopinfo tr td:last-child {
	text-align: justify !important;
}

.calculator-left .row-form .cell-form.cell-form-dohod:first-child {
	width: 160px;
	font-size: 14px;
}

.ik_select_dropdown {
	width: auto !important;
}

@import "antons";        

.calc-info__col_pos_right .ik_select {
	text-align: left;
}
.clc-res {
	font-family: "proxima_nova_rgbold",Arial,sans-serif;
    color: #2c83e1;
}

.fav2-wrapper {
	text-align: center;
	margin-bottom: 18px;
}

.fav2 {
  text-align: left;	
  display: inline-block;	
  z-index: 1;
  line-height: 1;
  font-size: 12px;
  width: 123px;
  padding: 6px 5px 9px 35px;
  height: 35px;
  @include border-radius(30px);
  background: #e9d7a8 url("fav-icon.png") 9px center no-repeat;
  color: #252525;
  cursor: pointer;
}

input[readonly] {
	/*@include opacity(0.3);*/
}

.map-cont {
	margin-top: 70px;
	.item-map {
		margin-bottom: 15px;
		line-height: 14px;
		&>a {
			color: #002d78;
			font-size: 14px;
			line-height: 14px;
			text-decoration: none;
			font-weight: bold;
			display: inline-block;
			border-bottom: 1px dashed #002d78;
			&:hover {
				text-decoration: none;
				border-bottom: 1px dashed transparent;
			}
			&.more-items {
				color: #757575;
				font-size: 12px;
				line-height: 13px;
				text-decoration: underline;
				font-weight: bold;
				display: inline-block;
				border-bottom: none;
				&:hover {
					text-decoration: none;
					border-bottom: none;
				}
			}
		}
		&.active {
			.sub-item-map {
				display: block;
			}
			&>a {
				border-bottom: none;
			}	
		}
		.sub-item-map {
			display: none;
			margin-top: 15px;
			a {
				position: relative;
				margin-left: 22px;
				color: #000;
				font-size: 14px;
				line-height: 14px;
				text-decoration: none;
				font-weight: bold;
				display: inline-block;
				border-bottom: 1px dashed #000;
				margin-bottom: 15px;
				&:after {
					content: "";
					position: absolute;
					top: 4px;
					left: -15px;
					width: 7px;
					height: 7px;
					display: block;
					background: url(3.png) 0 0 no-repeat;
				}
				&:hover {
					text-decoration: none;
					border-bottom: 1px dashed transparent;
				}
			}
			div {
				&:last-child {
					a {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}

.map-href {
	display: inline-block;
    margin-left: 150px;
}

@import "antont"; 
